{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1 align="center">To-Do List</h1>
<ul class="list-group list-group-flush" id="tasks">
    {% for task in tasks %}
    <div>
        <input type="checkbox" {% if task.completed %} checked {% endif %}>
        <li class="list-group-item">{{ task.text }}</li>
    </div>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="task" id="task" class="form-control"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add to list</button>
    </div>
</form>
{% endblock %}